PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/root/.cargo/bin

# renewing ssl certs
24 * * * * root letsencrypt renew 2>&1 | logger --tag letsencrypt-renew

# signing/hashing/promoting releases
0 0 * * * root promote-release /tmp/nightly nightly /src/data/secrets.toml 2>&1 | logger --tag release-nightly
20 * * * * root promote-release /tmp/beta beta /src/data/secrets-dev.toml 2>&1 | logger --tag release-beta
40 * * * * root promote-release /tmp/stable stable /src/data/secrets-dev.toml 2>&1 | logger --tag release-stable

# cancelling appveyor/travis builds if we don't need them
*/2 * * * * root /src/bin/cancelbot-rust.sh 2>&1 | logger --tag cancelbot-rust
*/2 * * * * root /src/bin/cancelbot-cargo.sh 2>&1 | logger --tag cancelbot-cargo

# Sending emails about triage tasks and such
0 0 */2 * * root nag-rs /tmp/nagbot-token /src/naglist.txt 2>&1 | logger --tag nagbot
