[cancelbot]
travis-token = "travis"
rust-appveyor-token = "appveyor"
cargo-appveyor-token = "appveyor"

[homu.github]
access-token = "access"
app-client-id = "id"
app-client-secret = "secret"

[homu.ssh]
ssh-key = "key"

[homu.repo-secrets]
rust = "rust"
cargo = "rust1"
libc = "rust2"
compiler-builtins = "rust3"
regex = "rust4"

[nginx]
hostname = "hostname"
email = "email"
