[cancelbot]
travis-token = "travis"
rust-appveyor-token = "appveyor"
cargo-appveyor-token = "appveyor"

[homu.github]
access_token = "access"
app_client_id = "id"
app_client_secret = "secret"

[homu.ssh]
ssh_key = "key"

[homu.repo-secrets]
rust = "rust"
cargo = "rust1"
libc = "rust2"
compiler-builtins = "rust3"
regex = "rust4"

[nginx]
hostname = "hostname"
